.products__list {
    margin: 0;
    padding-left: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}